/* Carousel couleur fleche du zoom */
/*misdansshow*/
.carousel-control-next {
    filter: invert(100%);
    }
 .carousel-control-prev {
    filter: invert(100%);
     }
     .activeli1{
        filter: invert(100%);
     }
     .activeli2{
        filter: invert(100%);
     }
     .activeli{
        filter: invert(100%);
     }
     .li{
        filter: invert(100%);
     }


 .mb-show{
    text-align:center;


     margin-top : 5px;


  }
  #carouselExampleCaptions{
    right: 25%;
}

/*************** Plus de détails************************************/

#datalist tr:nth-child(n+6) {
    display:none;
}
#datalist tr {
    border: 1px solid #aaa;
}
#carouszoom{
    width:700px;
     height: 700px;
}
#placecarouspopup{
    margin-top: 10%;

}
#imgzoom{
    height: 700px;
}

#produitimage{
    width: 488px;
    height: 300px;
}
#paddingshow{
    padding-top: 10%;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    #produitimage{
        width: 488px;
        height: 50px;
    }

    #carouszoom{
        width: 500px;
         height: 500px;
    }
    #btnshow{
        margin-top: 2%;
        margin-bottom: 2%;
    }

    #imgzoom{
        width: 500px;
        height:500px;
    }
    #placecarouspopup{
        left: 28%;
        position: absolute;
         top: 13%;
    }
    #carouselExampleCaptions{
        display: flex;
        justify-content: center;
    }
    #paddingshow{
        padding-top: 40%;
    }

}
@media screen and (min-width: 768px) and (max-width: 950px) {
    #imagemodal{
        display: list-item;
    margin-left: 7%;
    margin-top: 5%;


}
}
@media screen and (min-width: 0px) and (max-width: 481px) {

    #btnshow{
        margin-top: 2%;
        margin-bottom: 2%;
    }
    #show{
        margin-top: 30%;
    }
    #produitimage{
        width: 488px;
        height: 80px;
    }


    #carouszoom{
        width: 500px;
         height: 500px;
    }


    #imgzoom{
        width: 500px;
        height:500px;
    }
    #placecarouspopup{
        left: 28%;
        position: absolute;
         top: 13%;
    }
    #carouselExampleCaptions{
        display: flex;
        justify-content: center;
    }
    #paddingshow{
        padding-top: 40%;
    }


}

@media screen and (min-width: 0px) and (max-width:  600px) {
    #imagemodal{
        display: none;
    }

}
