#footerjaune:hover{
    color: #FFD600;


}
#footerjaune{
    color:#ffffff;
    text-decoration: none;
}
#contactecouleur{

    text-decoration: none;
}
.fab{
    color:white;
    font-size: 20px;
}

.fa-envelope{
    color:white;
    font-size: 20px;
}
