body{
    margin: 0px;
    padding: 0px;
    font-family: roboto;
    background-color: white;

}
.boutton{
    border-radius: 20px;
    background-color: #FFD600;
    color: black;
    box-shadow: none !important;
    outline: 0 !important;

}
/************ BACK-TO-TOP ************/


.back-to-top {
    position: fixed;
    bottom: 40px;
    right: 25px;
    display: none;
}

#test{
    display: flex;
    align-items: stretch;
}
#test1{
    display: flex;
    align-items: stretch;
}
#test2{
    display: flex;
    align-items: stretch;
}
#allignheader{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}
@media screen and (min-width: 0px) and (max-width: 481px) {
#navpour{
    display:none;
    /* width: 9000%; */
    }
    .row1{
        display:none;
    }
    #search{
        width: 160%;

    }
    #headerlon{
        margin-bottom: 3%;
    }
}
@media screen and (min-width: 481px) and (max-width:2561px) {
    #loupe{
        display: none;
    }
    #visiblemobile{
        display: none;
    }
    /* #imgheader{
        margin-top: 18%;
    } */
}


