
#panier{
    position: absolute;
    right: 400px;
}
.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
}

#Catégorie2{
    font-size: 100%;
}
.page-link{
    border:none;
    background-color: transparent;
    color: black;
    box-shadow: none;
    box-shadow: none!important;

}
.page-item.active .page-link {
    color: #FFD600;
    background-color: grey;
    border-radius: 12px;
    box-shadow: none!important;
}

.page-link:hover{
    border:none;
    background-color: #D6D1C1;
    color: black;
    border-radius: 12px;
    box-shadow: none!important;
}


#boutton_panier{
    background-color: #FFD600;
     border-radius:20px;
       padding-right: 0px;
     padding-left: 0px;
     padding-top: 0px;
    padding-bottom: 0px;
     height: 34px;
    width: 50px;
    box-shadow: none;
    outline: 0;
}

a[aria-label="« Previous"] {
    color:#FFD600;


  }
  a[aria-label="Next »"] {
    color:#FFD600;
  }
  a[aria-label="« Previous"]:hover {
    color:black;
    background-color: transparent;


  }
  a[aria-label="Next »"]:hover {
    color:black;
    background-color: transparent;
  }

  #filterdispo{
    display: flex;
    justify-content: align-items;
    margin-left: 0px;
    /*Pour decaler filter*/
    /* margin-left: 200px;  */

  }

  #results{
    width: 100%;
     margin-left: 100px;

  }

  #row{
      width: 100%;
  }
  @media screen and (min-width: 600px) and (max-width: 2600px) {
      #Accordion{
          display: none;
      }
      #filterbarreinvisible{
          display: none!important;
      }
    }
    @media screen and (min-width: 0px) and (max-width: 600px) {
        #barrefilter{
            display: none!important;
        }
        #barreprix{
            display: none!important;
        }
      }

  @media screen and (min-width: 481px) and (max-width: 768px) {

     
  #imgcatégorie{
    margin-top: 8%;

    margin-bottom: 5%;
    margin-left: 0%;
    }

    #filterdispo{
        display: flex;
        margin-left: 0px;
      }

      #results{
        width: 100%;
         margin-left: 50px;

      }
      #boutton_panier{
        background-color: #FFD600;
         border-radius:20px;
           padding-right: 0px;
         padding-left: 0px;
         padding-top: 0px;
        padding-bottom: 0px;
         height: 34px;
        width: 50px;
        position: absolute;
        right: 20;


      }




  }

  @media screen and (min-width: 0px) and (max-width: 481px) {


      #filterdispo{
        display: flex;
        margin-left: 0px;
        margin-top: 5%;
      }
      #results{
        width: 100%;
         margin-left: 35px;

      }
      #longueurphotohome{
          padding: 0px;

      }
      #imgcatégorie{
          display: none;
      }

}
@media screen and (min-width: 0px) and (max-width: 770px) {
    #imagemodal{

        display: none;

    }
}

@media screen and (min-width: 482px) and (max-width: 2600px) {

#dffdf{
    display: none;
}

}
@media screen and (min-width: 421px) and (max-width: 600px) {

    #filterbarreinvisible{
        display: grid;
        grid-template-columns: repeat(2, 0.5fr);

    }
    #tttt{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

}


@media screen and (min-width: 0px) and (max-width:  421px) {

#filterbarreinvisible{

    font-family: poppins;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    }

}
