


#allignlogin{
    justify-content: center;
    display: flex;
}
@media screen and (min-width: 481px) and (max-width: 2600px) {
    #imgordi2{
        display: none;
    }
}
#log1{
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #898281;
    border-width: thin;
    box-shadow: 0.1em 0.1em 0.1em 0.1em #21201b;

}

#log{
    margin-top: 7%;
    width: 350px;
  height: 510px;
}

.loge{
    margin: 0;
}
.news1::before
  {
      content:"";
      flex:1 1;
      background:#D6D1C1;
      height:1px;
      align-self: center;
      margin: 10px 10px 10px 10px;

    }
    .news1::after {
      content:"";
      flex:1 1;
      background:#D6D1C1;
      height:1px;
      align-self: center;
      margin: 10px 20px 10px 10px;

    }

.news1{
    font-family: 'Poppins', sans-serif;
    display:flex;
    font-size: 28px;
    color: #21201b;
    width: 100%;
}


#log1::placeholder {
    color: #969281!important;

  }
  #imgheader{
    width: 40px;
    height:40px;
  }

  @media screen and (min-width: 0px) and (max-width: 480px) {


    #imgheader{
        width: 20px;
        height:20px;
      }
      #log{
        margin-top: 40%;
        width: 350px;
      height: 510px;
    }
    .news1{
        font-family: 'Poppins', sans-serif;
        display:flex;
        font-size: 15px;
        color: #21201b;
        width: 100%;
    }
    #allignlogin{
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }
    #imgordi{
        display: none;
    }
    /* #imgordi2{

    } */
  }
