.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -20px;
    margin-left: -25px;
}


#menu{
    width: -webkit-fill-available;
    height: 1700px;
}

#headerlon{
    justify-content: space-evenly;
     align-items: center;
}
#frf{
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    column-gap: 10px;
    padding-left: 10px;
    padding-right: 5px;

 }

 #tr{background-color:#969281;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;}
/* pour hover du menu*/
 /* .dropdown:hover > .dropdown-menu {
    display: block;
}
.dropdown > .dropdown-toggle:active {

    pointer-events: none;
} */
#lien:hover{
    color: #D6D1C1;

}

#lien{
    color: white;
    font-size: 75%;

}
#lien2:hover{
    background-color: #D6D1C1;
    width: max-content;
}
.row1{
    display: flex;
   justify-content: center;
   background-color: #969281;
   height: 50px;
   }

/*menu horizontale pour enlever puce */
.row ul {
    list-style-type: none;
}

#catégorie{
    color: white;
    font-size: 130%;

    margin: 20px;

}
.navbar1 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0.5rem 1rem;
  }

  #navpour{
      width: 100%;
  }

  @media screen and (min-width: 600px) and (max-width: 1000px) {
    .row1{
        display: flex;
       justify-content: space-around;
       background-color: #969281;
       height: 50px;
       width: 100%;

       }
       #catégorie{
        color: white;
        margin: 10px;
        font-size: 15px;

    }
  }
  @media screen and (min-width: 481px) and (max-width: 600px) {
    .row1{
        display: flex;
       justify-content: center;
       background-color: #969281;
       height: 50px;
       width: 100%;
       }
       #catégorie{
        color: white;

        margin: 10px;
        font-size: 12px;

    }
  }
  @media screen and (min-width: 481px) and (max-width: 2600px) {
    #ttt2{
        display: none;
    }
    #kwhaut{
        width: 5em;
        display: none;

    }
    #kwhaut1{
        width: 5em;


    }
  }
@media screen and (min-width: 481px) and (max-width: 768px) {

        .nav-link{
            display: block;
            padding: 0;

        }
        #invisible{
            display: none;
        }
        #frf {
            display: grid;
            grid-template-columns: repeat(2, 0.5fr);
            column-gap: 10px;
            padding-left: 10px;
            padding-right: 5px;
        }
        /* #haut{
            width: 640px;
        } */



        .navbar1 {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding: 0.5rem 1rem;
          }



}
@media screen and (min-width: 0px) and (max-width: 480px) {
    #frf{
        display: grid;
        grid-template-columns: repeat(1, 0.5fr);
        column-gap: 10px;
        padding-left: 50px;
        padding-right: 50px;



    }
#haut{
  width: 80%;
    position: absolute;
    left: 10%;
    top: 0%;
    margin-left: 10%;

}
  .row1{
    display: none;
}

#invisible{
    display: none;
}
#headerlon{
    justify-content: space-between;
    display: flex;

    margin-bottom: 0%;
    padding: 0%;
}
#Nav{
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-between;
    align-items: center;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 29px;
  margin-left: 8%;



  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#kwhaut1{
    width: 3em;
    height: auto;
display: none;

}
#kwhaut{
    width: 3em;
    height: auto;


}
#ttt{
    display: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

/* #menuToggle a:hover
{
  color: tomato;
} */


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 27px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

  width: -webkit-fill-available;
}
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -20px;
    margin-left: -25px;
}


@media screen and (min-width: 484px) and (max-width: 1050px) {

    #fff:nth-child(6) #frf{
        display: grid;
        grid-template-columns: repeat(1, 0.5fr)!important;
        column-gap: 10px;
        padding-left: 10px;
        padding-right: 5px;


    }

}

/* @media screen and (min-width: 0px) and (max-width: 483px) {

    #fff:nth-child(3) #frf{
        display: grid;
        grid-template-columns: repeat(2, 0.5fr)!important;
        column-gap: 10px;
        padding-left: 10px;
        padding-right: 5px;


    }

} */


#lien{
    color: white;
    font-size: 75%;

}


@media screen and (min-width:1200px) and (max-width: 2600px) {
    #lien{
        color: white;
        font-size: 90%;

    }


}
