.titleNumber{
    font-size: 100px;
    z-index: -1;
    top:-65px;
    left:-16px;
    color: #F4E4b0;
    font-family: 'Poppins', sans-serif;
}

.titrePrinc::before
{
    content:"";
    flex:1 1;
    background:#D6D1C1;
    height:2px;
    align-self: center;
    margin: 10px 10px 10px 10px;

}
.titrePrinc::after {
    content:"";
    flex:1 1;
    background:#D6D1C1;
    height:2px;
    align-self: center;
    margin: 10px 20px 10px 10px;

}
body{
    color: #21201B;
}



input[type="text"],
input[type="url"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="tel"],
select.form-control {

  background: transparent;
  border: none;
  border-bottom: 1px solid #D6D1C1;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  font-family: 'Roboto',sans-serif;
}

input[type="text"]:focus,
input[type="url"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="tel"]:focus,
select.form-control:focus {
    background: transparent;
    border: none;
    border-bottom: 1px solid #D6D1C1;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    font-family: 'Roboto',sans-serif;
}

input[type="text"]::placeholder,
input[type="url"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="date"]::placeholder,
input[type="tel"]::placeholder,
select.form-control::placeholder {
    color: #D6D1C1;
    font-family: 'Roboto',sans-serif;
}

label.buttonFile input[type="file"] {
    display: none;
}

.italic{
    font-style: italic;
}

.boutton{
    border-radius: 20px;
    background-color: #FFD600;
    color: black;
}

.optionel{
    color: #D6D1C1;
    font-family: 'Roboto',sans-serif;
}

/***** Button add document *****/
.buttonFile {
    border: 1px solid #D6D1C1;
    border-radius: 50px;
    padding: 2px 20px;
    margin-left: 15px;
    background: #FFF;
    display: inline-block;
    font-family: 'Roboto',sans-serif;
}
.buttonFile:hover {
    background: #CCC;
}
.buttonFile:active {
    background: #CCF;
}
.buttonFile :invalid + span {
    color: #A44;
}
.buttonFile :valid + span {
    color: #4A4;
}

.selectFile{
    color:#D6D1C1;
    margin-left: 30px;
}

@media screen and (min-width: 0px) and (max-width: 772px) {
    .titrePrinc::before
  {
      content:"";
      flex:1 1;
      background:#D6D1C1;
      height:1px;
      align-self: center;
      margin: 10px 10px 10px 10px;

    }
    .titrePrinc::after {
      content:"";
      flex:1 1;
      background:#D6D1C1;
      height:1px;
      align-self: center;
      margin: 10px 20px 10px 10px;

    }

.titrePrinc{
    font-family: 'Poppins', sans-serif;
    display:flex;
    font-size: 18px;
    color: #21201b;

}
.textTitle{
    margin-top: 10%;
    font-size: 20px;
}
#margtop4{
    margin-top: 18%;

}
#textCB{
    font-size: 20px;
}

 }
 @media screen and (min-width: 0px) and (max-width: 480px) {
     #margregistertop{
         margin-top: 35%;
     }
     .titrePrinc{
        font-family: 'Poppins', sans-serif;
        display:flex;
        font-size: 13px;
        color: #21201b;
        width: 120%;
    }
    #taillecritureregister{
        font-size: 11px;
    }
    #registerla{
        width: 130%;
    }

 }

