


button{
    outline: 0;
    box-shadow: none;
}


.fa-shopping-cart{

    color:black;

}
.fa-user-circle{
    color:black;
}

#search{

    margin-left: 0px;
    width: 80%;
    margin-top:7px;
    border-color:  #D6D1C1;
    border-radius: 30px;
    box-shadow: none;
    border: 1px solid #D6D1C1;


}


/* Fin Navbar */






/*************** NavBar************************************/

.dropdown-header{
    color: blue;

}


/*header*/

#item{
    margin-right: 10%;

}





@media screen and (min-width: 481px) and (max-width: 768px) {


    #search{
        width: 80%;
        margin-top:7px;
        border-color:  #D6D1C1;
        border-radius: 30px;


    }



 }

 @media screen and (min-width: 0px) and (max-width: 510px) {
    #cach{
        display: none;
    }
 }
 @media screen and (min-width: 511px) and (max-width: 2600px) {

    #cach2{
        display: none;
    }
 }

